<select class = "form-select mb-3" id="selCategory">
    <option value="">Все категории</option>
    <option *ngFor="let category of categories" value = "{{ category.id }}">
        {{ category.name }}
    </option>
</select>

<button class="btn btn-primary form-control mb-5" (click) = "insertRow()">Добавить продукт</button>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Price</th>
        <th>Category</th>
        <th></th>
    </tr>
    <tr *ngFor="let product of products; let i = index; " [attr.data-index]="i" [ngClass]="(product.price>500)?'big-price':''">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ categoryCaption(product.category) }}</td>
        <td>
            <button class="btn btn-default" (click) = "removeRow($event, i)">Удалить</button>
        </td>
    </tr>
</table>